@import "tailwindcss";
@media (width >= 767px) {
  aside a.active {
    background-color: white;
  }
}

aside a.active svg {
  background-color: #4fd1c5;
  color: white;
}
aside a svg {
  background-color: #fff;
  color: #4fd1c5;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

@font-face {
  font-family: "DIN Next LT Arabic";

  src: url("./src/fonts/DINNextLTArabic-Bold-4.ttf");

  font-weight: 700;

  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT Arabic";

  src: url("./src/fonts/DINNextLTArabic-Medium-3.ttf");

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: "DIN Next LT Arabic";

  src: url("./src/fonts/DINNextLTArabic-Regular-3.ttf");

  font-weight: 400;

  font-style: normal;
}

body {
  font-family: "DIN Next LT Arabic", sans-serif;
}
